h1{
    background-color: skyblue;
    text-align: center;
    margin:0;
} 

body{
    margin:0;
}
body form {
    padding-left:500px;
    padding-top:50px; 
}
input{
    background: rgb(255, 128, 0);
    padding: 5px 5px 5px 5px;
    color:white; 
}

#reg1{
    background-color: green;
}